/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.git
.gitattributes
.gitignore
*.log
.DS_Store
Thumbs.db
/.idea
/.vscode
/.phpunit.cache
/tests
/docs
*.md
